body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 20px;
    background: #95cee9;
  }

  /* Header/Blog Title */
  .header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    background: rgb(238, 215, 215);
  }


  /* Left column */
  .leftcolumn {
    float: left;
    width: 75%;
  }

  /* Right column */
  .rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
  }


  /* Add a card effect for articles */
  .card {
    background-color: #f1f8f0;
    padding: 10px;
    margin-top: 50px;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }


  .share-btn-container {
    background: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
  }

  .share-btn-container a i {
    font-size: 32px;
  }

  .share-btn-container a {
    margin: 12px 0;
    transition: 500ms;
  }

  .share-btn-container a:hover {
    transform: scale(1.2);
  }

  .share-btn-container .fa-facebook {
    color: #3b5998;
  }

  .share-btn-container .fa-twitter {
    color: #1da1f2;
  }

  .share-btn-container .fa-linkedin {
    color: #0077b5;
  }

  .share-btn-container .fa-pinterest {
    color: #bd081c;
  }

  .share-btn-container .fa-whatsapp {
    color: #25d366;
  }

  /* Media Queries */




  /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
      width: 100%;
      padding: 0;
    }

    .content {
      padding: 8px 32px;
    }

    .share-btn-container {
      transform: unset;
      top: unset;
      left: 0;
      bottom: 0;
      width: 100%;
      flex-direction: row;
      box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
      padding: 16px 0;
      justify-content: center;
    }

    .share-btn-container a {
      margin: 0 32px;
    }
  }